<div class="row">
  <div class="box col-md-11 col-md-offset-1">
    <label>Read_XML_To_Hash_Result</label>
    <pre>
      <code>
        <% @results.each.with_index(1) do |result, i| %>
          <p>オブジェクト#<%= i %></p>
          <p><%= result %> </p>
        <% end %>
      </code>
    </pre>
  </div>
</div>
